#include <winres.h>
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
// Angielski (Stany Zjednoczone)
/////////////////////////////////////////////////////////////////////////////
LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
IDS_MSG_TITLE_ERROR             "Error!"
IDS_MSG_TITLE_WARNING           "Warning!"
IDS_MSG_SUCCESS_SAVE_LUA        "Script successfully replaced!\r\nDon't forget to save the map!"
IDS_MSG_SCRIPT_TOO_LONG         "The script may only contain up to 65534 characters"
IDS_MSG_ERROR_SAVE_LUA          "Internal error. Cannot write to Lua address.\r\nIf the error persists after restart, contact me at https://s4.muffinmar.io/"
IDS_MSG_EDITOR_CHANGED          "The script was changed in the editor.\r\nDo you want to load the script from the editor? (Your current script will be replaced)"
IDS_MSG_DLL_NOT_FOUND           "MapGenerator2.dll was not found in the editor directory.\r\nThe program will still work, but you won't be able to create randomly generated maps until the DLL is present in that directory."
IDS_MSG_TITLE_DLL_NOT_FOUND     "DLL Not Found!"
IDS_WINDOW_TITLE_LUA_EDIT       "Siedler IV Lua Editor"
IDS_BTN_SET_SCRIPT              "Set Script"
IDS_MENU_MAP_OPTIONS            "&Map Options"
IDS_MENU_NEW_WORLD              "&New World Textures"
IDS_MENU_HIDE_PREVIEW           "&Hide Map Preview"

IDS_OBJ_254                     "<No Object>"
IDS_OBJ_019                     "Tropical Date Palm"
IDS_OBJ_020                     "Tropical Date Palm 2"
IDS_OBJ_021                     "Dark-leaved Tropical Palm"
IDS_OBJ_022                     "Dark-leaved Tropical Palm 2"
IDS_OBJ_042                     "Abandoned Trojan Horse"
IDS_OBJ_094                     "Small Dark Rock"
IDS_OBJ_095                     "Reddish Rock"
IDS_OBJ_096                     "Large Reddish Rock"
IDS_OBJ_097                     "Medium Reddish Rock"
IDS_OBJ_098                     "Small Reddish Rock"
IDS_OBJ_102                     "Small Dark Stone"
IDS_OBJ_115                     "Morbus' Leftover Statue Base"
IDS_OBJ_117                     "Trojan Horse under Construction"
IDS_OBJ_118                     "Trojan Horse"
IDS_OBJ_119                     "Portal"
IDS_OBJ_123                     "Leveling Debris"
IDS_OBJ_151                     "Dark Snowman"
IDS_OBJ_178                     "Half Small Cattle Pile"
IDS_OBJ_194                     "1× Coal Deposit Marker"
IDS_OBJ_195                     "2× Coal Deposit Marker"
IDS_OBJ_196                     "3× Coal Deposit Marker"
IDS_OBJ_197                     "1× Gold Deposit Marker"
IDS_OBJ_198                     "2× Gold Deposit Marker"
IDS_OBJ_199                     "3× Gold Deposit Marker"
IDS_OBJ_200                     "1× Iron Deposit Marker"
IDS_OBJ_201                     "2× Iron Deposit Marker"
IDS_OBJ_202                     "3× Iron Deposit Marker"
IDS_OBJ_203                     "1× Stone Deposit Marker"
IDS_OBJ_204                     "2× Stone Deposit Marker"
IDS_OBJ_205                     "3× Stone Deposit Marker"
IDS_OBJ_206                     "1× Sulfur Deposit Marker"
IDS_OBJ_207                     "2× Sulfur Deposit Marker"
IDS_OBJ_208                     "3× Sulfur Deposit Marker"
IDS_OBJ_216                     "*Convert to dark land* (ingame effect)"
IDS_OBJ_223                     "Castle"
IDS_OBJ_224                     "Tower with Fire on Top"
IDS_OBJ_225                     "Colossus of Rhodes"
IDS_OBJ_226                     "Mosaic Statue"
IDS_OBJ_227                     "Mosaic Statue under Construction"
IDS_OBJ_228                     "MA MA Hut"
IDS_OBJ_230                     "Tropical Bush"
IDS_OBJ_232                     "P-Rune Pyramid"
END

/////////////////////////////////////////////////////////////////////////////
// Polski (Polska)
/////////////////////////////////////////////////////////////////////////////
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
IDS_MSG_TITLE_ERROR             "B³¹d!"
IDS_MSG_TITLE_WARNING           "Uwaga!"
IDS_MSG_SUCCESS_SAVE_LUA        "Skrypt pomyœlnie zast¹piony!\r\nNie zapomnij zapisaæ mapy!"
IDS_MSG_SCRIPT_TOO_LONG         "Skrypt mo¿e mieæ maksymalnie 65534 znaki"
IDS_MSG_ERROR_SAVE_LUA          "B³¹d wewnêtrzny. Nie mo¿na zapisaæ do adresu Lua.\r\nJeœli problem siê powtarza, napisz na https://s4.muffinmar.io/"
IDS_MSG_EDITOR_CHANGED          "Skrypt zosta³ zmieniony w edytorze.\r\nCzy chcesz za³adowaæ skrypt z edytora? (Twój obecny skrypt zostanie wtedy zast¹piony)"
IDS_MSG_DLL_NOT_FOUND           "Plik MapGenerator2.dll nie zosta³ znaleziony w katalogu edytora.\r\nProgram nadal dzia³a, ale nie bêdziesz móg³ tworzyæ losowo generowanych map, dopóki biblioteka DLL nie znajdzie siê w tym katalogu."
IDS_MSG_TITLE_DLL_NOT_FOUND     "DLL nie znaleziono!"
IDS_WINDOW_TITLE_LUA_EDIT       "Edytor Lua – Siedler IV"
IDS_BTN_SET_SCRIPT              "Ustaw skrypt"
IDS_MENU_MAP_OPTIONS            "Opcje &mapy"
IDS_MENU_NEW_WORLD              "Tekstury &Nowego Œwiata"
IDS_MENU_HIDE_PREVIEW           "&Ukryj podgl¹d mapy"

IDS_OBJ_254                     "<Brak obiektu>"
IDS_OBJ_019                     "Tropikalna palma daktylowa"
IDS_OBJ_020                     "Tropikalna palma daktylowa 2"
IDS_OBJ_021                     "Ciemnolistna tropikalna palma"
IDS_OBJ_022                     "Ciemnolistna tropikalna palma 2"
IDS_OBJ_042                     "Porzucony koñ trojañski"
IDS_OBJ_094                     "Ma³y ciemny g³az"
IDS_OBJ_095                     "Czerwonawy g³az"
IDS_OBJ_096                     "Du¿y czerwonawy g³az"
IDS_OBJ_097                     "Œredni czerwonawy g³az"
IDS_OBJ_098                     "Ma³y czerwonawy g³az"
IDS_OBJ_102                     "Ma³y ciemny kamieñ"
IDS_OBJ_115                     "Pozosta³oœæ pos¹gu Morbusa"
IDS_OBJ_117                     "Koñ trojañski w budowie"
IDS_OBJ_118                     "Koñ trojañski"
IDS_OBJ_119                     "Portal"
IDS_OBJ_123                     "Gruz po niwelacji"
IDS_OBJ_151                     "Ciemny ba³wan"
IDS_OBJ_178                     "Po³owa ma³ego kopca bydlêcego"
IDS_OBJ_194                     "Z³o¿e wêgla ×1 (znacznik)"
IDS_OBJ_195                     "Z³o¿e wêgla ×2 (znacznik)"
IDS_OBJ_196                     "Z³o¿e wêgla ×3 (znacznik)"
IDS_OBJ_197                     "Z³o¿e z³ota ×1 (znacznik)"
IDS_OBJ_198                     "Z³o¿e z³ota ×2 (znacznik)"
IDS_OBJ_199                     "Z³o¿e z³ota ×3 (znacznik)"
IDS_OBJ_200                     "Z³o¿e ¿elaza ×1 (znacznik)"
IDS_OBJ_201                     "Z³o¿e ¿elaza ×2 (znacznik)"
IDS_OBJ_202                     "Z³o¿e ¿elaza ×3 (znacznik)"
IDS_OBJ_203                     "Z³o¿e kamienia ×1 (znacznik)"
IDS_OBJ_204                     "Z³o¿e kamienia ×2 (znacznik)"
IDS_OBJ_205                     "Z³o¿e kamienia ×3 (znacznik)"
IDS_OBJ_206                     "Z³o¿e siarki ×1 (znacznik)"
IDS_OBJ_207                     "Z³o¿e siarki ×2 (znacznik)"
IDS_OBJ_208                     "Z³o¿e siarki ×3 (znacznik)"
IDS_OBJ_216                     "*Przekszta³æ w ciemn¹ ziemiê* (efekt w grze)"
IDS_OBJ_223                     "Zamek"
IDS_OBJ_224                     "Wie¿a z ogniem na szczycie"
IDS_OBJ_225                     "Kolos Rodyjski"
IDS_OBJ_226                     "Mozaikowa statua"
IDS_OBJ_227                     "Mozaikowa statua w budowie"
IDS_OBJ_228                     "Chata MA MA"
IDS_OBJ_230                     "Tropikalny krzak"
IDS_OBJ_232                     "Piramida run P"
END

/////////////////////////////////////////////////////////////////////////////
// Niemiecki (Niemcy)
/////////////////////////////////////////////////////////////////////////////
LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
IDS_MSG_TITLE_ERROR             "Fehler!"
IDS_MSG_TITLE_WARNING           "Achtung!"
IDS_MSG_SUCCESS_SAVE_LUA        "Script erfolgreich ersetzt!\r\nVergiss nicht, die Karte zu speichern!"
IDS_MSG_SCRIPT_TOO_LONG         "Das Script darf nur 65534 Zeichen enthalten"
IDS_MSG_ERROR_SAVE_LUA          "Interner Fehler. Auf Lua-Adresse kann nicht geschrieben werden.\r\nWenn der Fehler bei Neustart nicht behoben wird, kontaktiere mich auf https://s4.muffinmar.io/"
IDS_MSG_EDITOR_CHANGED          "Das Script wurde im Editor geändert, möchtest du das Script vom Editor öffnen? (Dein derzeitiges Script wird dabei entfernt)"
IDS_MSG_DLL_NOT_FOUND           "MapGenerator2.dll wurde nicht im Editorverzeichnis gefunden.\r\nDas Programm funktioniert noch, aber du kannst keine Zufallsgenerierten Maps erstellen, bis die DLL im Verzeichnis enthalten ist."
IDS_MSG_TITLE_DLL_NOT_FOUND     "DLL Nicht Gefunden!"
IDS_WINDOW_TITLE_LUA_EDIT       "Siedler IV Lua-Editor"
IDS_BTN_SET_SCRIPT              "Script setzen"
IDS_MENU_MAP_OPTIONS            "Map-&Optionen"
IDS_MENU_NEW_WORLD              "&Neue-Welt Texturen"
IDS_MENU_HIDE_PREVIEW           "&Verstecke Mapvorschau"

IDS_OBJ_254                     "<Kein Objekt>"
IDS_OBJ_019                     "Tropische Dattelpalme"
IDS_OBJ_020                     "Tropische Dattelpalme 2"
IDS_OBJ_021                     "Dunkelblättrige tropische Palme"
IDS_OBJ_022                     "Dunkelblättrige tropische Palme 2"
IDS_OBJ_042                     "Verwildertes Trojanisches Pferd"
IDS_OBJ_094                     "Kleiner dunkler Fels"
IDS_OBJ_095                     "Rötlicher Fels"
IDS_OBJ_096                     "Großer rötlicher Fels"
IDS_OBJ_097                     "Mittelgroßer Rötlicher Fels"
IDS_OBJ_098                     "Kleiner rötlicher Fels"
IDS_OBJ_102                     "Kleiner dunkler Stein"
IDS_OBJ_115                     "Morbus' übriger Statuenboden"
IDS_OBJ_117                     "Trojanisches Pferd im Bau"
IDS_OBJ_118                     "Trojanisches Pferd"
IDS_OBJ_119                     "Portal"
IDS_OBJ_123                     "Planierstücke"
IDS_OBJ_151                     "Dunkler Schneemann"
IDS_OBJ_178                     "Halber kleiner Rinderhaufen"
IDS_OBJ_194                     "1x Kohlevorkommen Schild"
IDS_OBJ_195                     "2x Kohlevorkommen Schild"
IDS_OBJ_196                     "3x Kohlevorkommen Schild"
IDS_OBJ_197                     "1x Goldvorkommen Schild"
IDS_OBJ_198                     "2x Goldvorkommen Schild"
IDS_OBJ_199                     "3x Goldvorkommen Schild"
IDS_OBJ_200                     "1x Eisenvorkommen Schild"
IDS_OBJ_201                     "2x Eisenvorkommen Schild"
IDS_OBJ_202                     "3x Eisenvorkommen Schild"
IDS_OBJ_203                     "1x Steinvorkommen Schild"
IDS_OBJ_204                     "2x Steinvorkommen Schild"
IDS_OBJ_205                     "3x Steinvorkommen Schild"
IDS_OBJ_206                     "1x Schwefelvorkommen Schild"
IDS_OBJ_207                     "2x Schwefelvorkommen Schild"
IDS_OBJ_208                     "3x Schwefelvorkommen Schild"
IDS_OBJ_216                     "*in dunkles Land umwandeln* (Effekt im Spiel)"
IDS_OBJ_223                     "Schloss"
IDS_OBJ_224                     "Turm mit Feuer auf der Spitze"
IDS_OBJ_225                     "Koloss von Rhodos"
IDS_OBJ_226                     "Mosaik Statue"
IDS_OBJ_227                     "Mosaik Statue im Bau"
IDS_OBJ_228                     "MA MA Hütte"
IDS_OBJ_230                     "Tropischer Busch"
IDS_OBJ_232                     "P-Runenpyramide"
END

/////////////////////////////////////////////////////////////////////////////

